include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include facebook_lead_integration *.css
recursive-include facebook_lead_integration *.csv
recursive-include facebook_lead_integration *.html
recursive-include facebook_lead_integration *.ico
recursive-include facebook_lead_integration *.js
recursive-include facebook_lead_integration *.json
recursive-include facebook_lead_integration *.md
recursive-include facebook_lead_integration *.png
recursive-include facebook_lead_integration *.py
recursive-include facebook_lead_integration *.svg
recursive-include facebook_lead_integration *.txt
recursive-exclude facebook_lead_integration *.pyc